<h1>{{ $ctrl.teamDetail.name }}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Player Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in $ctrl.teamDetail.players">
      <td>
        <a href="/player/{{player.id}}">
      {{ player.id }}
        </a>
      </td>
      <td>
        <a href="/player/{{player.id}}" ng-hide="$ctrl.editThisPlayer.id == player.id">
      {{ player.name }}
        </a>
        <input type="text" placeholder="{{player.name}}" ng-show="$ctrl.editThisPlayer.id == player.id" ng-model="$ctrl.editPlayerForm.name">
        <button class="btn btn-xs btn-primary" ng-click="$ctrl.editPlayer(player)" ng-show="$ctrl.editThisPlayer.id == player.id">
          <span class="ff-icon glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-xs btn-danger" ng-click="$ctrl.closeEditForm()" ng-show="$ctrl.editThisPlayer.id == player.id">
          <span class="ff-icon glyphicon glyphicon-remove"></span>
        </button>
      </td>
      <td>
        <button class="btn btn-xs btn-danger"
                ng-click="$ctrl.removePlayer(player)">
          <span class="ff-icon glyphicon glyphicon-remove"></span>
        </button>
        <button class="btn btn-xs btn-warning" ng-click="$ctrl.openEditForm(player)">
          <span class="ff-icon glyphicon glyphicon-pencil"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
      <form class="form-inline" ng-submit="$ctrl.addPlayer()">
        <input class="form-control input-xs" type="text"
               ng-model="$ctrl.newPlayerForm.name">
        <input type="submit" class="btn btn-primary" />
      </form>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
