<h1 class="greeting-title">Add Your Place!</h1>

<div class="add-items-container">
  <div class="add-item-item">
    <div class="my-input-label">Location:</div> <input ng-model="$ctrl.newListing.listing.location_name" name="location_name" class="add-items-input">
  </div>
  <div class="add-item-item">
    <div class="my-input-label">Title:</div><input ng-model="$ctrl.newListing.listing.title" name="location_name" class="add-items-input">
  </div>
  <div class="add-item-item">
    <div class="my-input-label">Price:</div> <input ng-model="$ctrl.newListing.listing.daily_price" name="location_name" class="add-items-input">
  </div>
  <div class="add-item-item">
    <div class="my-input-label">Bed Capacity:</div><input ng-model="$ctrl.newListing.listing.bed_capacity" name="location_name" class="add-items-input">
  </div>
  <div class="add-item-item">
    <div class="my-input-label">Image URL:</div> <input ng-model="$ctrl.newListing.listing.image_url" name="location_name" class="add-items-input">
  </div>
  <div class="add-item-item">

  </div>

  <div class ="submit-item-button"> <button ng-click="$ctrl.submitListing($ctrl.newListing)" class="btn btn-default">DO IT!</button> </div>


</div>
