<center><h1>Login time!</h1></center>
<br>
<div class="my-login-page">
  <div class="cool-class">
    <div class="cool-label"> E-mail: </div>
    <div><input name="email" class="login-input-fields" ng-model="$ctrl.userCredentials.user.email" required> </div>
  </div>
  <div class="cool-class">
    <div class="cool-label">  Password: </div>
  <div><input type="password" class="login-input-fields"  ng-model="$ctrl.userCredentials.user.password" required></div>
  </div>
  <br>
  <div class="cool-button">
    <button class="btn btn-eyirbiyenbi" ng-click="$ctrl.login()">Login</button>
  </div>
</div>
