.my-login-page{
  margin: 0 auto ;
}

.login-input-fields{
  margin: 0 auto ;

}

.cool-class{
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.cool-class .cool-label {
    flex-basis: 100px;
}

.cool-button{
  display: flex;
  justify-content: center;
}
